<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="alert alert-primary" role="alert" th:if="${param.continue}">
            <p>Hai effettuato l'accesso!</p>
        </div>
        <h1>Secret Admin Page 🔒</h1>
        <h3>Benvenuto <span sec:authentication="name"></span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda delectus quidem suscipit? Deserunt inventore ipsa iusto libero minima nostrum, porro reiciendis. Iusto, molestiae, suscipit? Expedita inventore obcaecati saepe!</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-secondary" value="Logout">
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>